<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog - Open PRO Demo</title>
</head>

<body class="font-inter antialiased bg-gray-900 text-gray-200 tracking-tight">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">

        <!-- Site header -->
        <%= require('html-loader!./partials/header.html') %>

        <!-- Page content -->
        <main class="flex-grow">

            <!-- Page illustration -->
            <div class="relative max-w-6xl mx-auto h-0 pointer-events-none" aria-hidden="true">
                <%= require('html-loader!./partials/page-illustration.html') %>
            </div>
            
            <!-- Page sections -->
            <%= require('html-loader!./partials/blog-list.html') %>
            <%= require('html-loader!./partials/newsletter.html') %>
            
        </main>

        <!-- Site footer -->
        <%= require('html-loader!./partials/footer.html') %>

    </div>

</body>

</html>