<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reset Password - Open PRO Demo</title>
</head>

<body class="font-inter antialiased bg-gray-900 text-gray-200 tracking-tight">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">
        
        <!-- Site header -->
        <%= require('html-loader!./partials/header.html') %>
    
        <!-- Page content -->
        <main class="flex-grow">

            <!-- Page illustration -->
            <div class="relative max-w-6xl mx-auto h-0 pointer-events-none" aria-hidden="true">
                <%= require('html-loader!./partials/page-illustration.html') %>
            </div>
            
            <section class="relative">
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">

                        <!-- Page header -->
                        <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                            <h1 class="h1 mb-4">Forgot your password?</h1>
                            <p class="text-xl text-gray-400">We'll email you instructions on how to reset it.</p>
                        </div>
                        
                        <!-- Form -->
                        <div class="max-w-sm mx-auto">
                            <form>
                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3">
                                        <label class="block text-gray-300 text-sm font-medium mb-1" for="email">Email</label>
                                        <input id="email" type="email" class="form-input w-full text-gray-300" placeholder="you@yourcompany.com" required />
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mt-6">
                                    <div class="w-full px-3">
                                        <button class="btn text-white bg-purple-600 hover:bg-purple-700 w-full">Reset Password</button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-gray-400 text-center mt-6">
                                <a class="text-purple-600 hover:text-gray-200 transition duration-150 ease-in-out" href="signin.html">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            
        </main>

    </div>

</body>

</html>